@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html, body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

main{
    margin: 10px;
}

#corner{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    width: 150px;
    height: 100%;
    border-radius: 20px;
    border: 2px solid rgb(81, 81, 81);
    top: 0;
    left: 0;
}

#add-cab-link{
    margin-bottom: 15px;
}


#cab-box{
    display: block;
    margin-top: 10px;
}

.fa-square-plus{
    color: #79aec8 !important;
}

.btn{
    display: block;
    background-color: #79aec8 !important;
    border-color: #79aec8 !important;
    color: #fff !important;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 80px;
}


.not-visible{
    display: none;
}

#loading{
    text-align: center;
}

.spinner-border{
    border-color: #79aec8;
}

.sr-only{ border-color: #79aec8; }

#hard-box{
    padding: 20px;
    text-align: center;
    width: 400px;
    margin: auto;
}

.box-inside{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 20px;
}

.card{
    background-color: #79aec8;
    border-radius: 20px;
    border: 2px solid rgb(81, 81, 81);
    padding: 20px;
}


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    }
    th {
    background: #79aec8;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    th:first-child, td:first-child {
    text-align: left;
    }
    th:first-child {
    border-top-left-radius: 10px;
    }
    th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    }
    td {
    max-width: 200px;
    padding: 10px 20px;
    background: rgb(223, 220, 220);
    }
    tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
    }
    tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
    }
    tr td:last-child {
    border-right: none;
    }
